html{
    font-family: 'Vollkorn', serif;
    font-family: 'Roboto', sans-serif;
    max-width: 70%;
    font-size: 28px;
    margin: auto;
}

/* Means everything in header displays as inline block. */
header *{
    display: inline-block;
}

header{
    margin-top: 75px;
    margin-bottom: 100px;
    position: relative;
}

/* Controls Dr.Jayalakshmi Title */
header h1{
    margin: 0;
    font-size: 56px;
    font-family: 'Vollkorn', serif;
}


header .menu_option{
    float: right;
    margin-right: 1em;
    margin-top: 0.5em;  
    margin-bottom: auto;
    text-decoration: underline;
}
header .menu_option a{
    color: inherit;
    text-decoration: inherit;
}

header .menu_option a:hover{
    color: grey;
    text-decoration: inherit;
}



#main_img{
    width : 40%;
    display: inline-flex;
}



.blurb{
    float: right;
    width: 50%;
    margin-top: 1em;
    height: 8em;
    overflow: scroll;
}

#address_block{
    margin-bottom: 3em;
    margin-top: 100px;
}

.address{
    width: 40%;
    display: inline-flex;
    margin: 4%;
    height: 5em;
    box-align: right;
    overflow: scroll;
}


#pitch{
    font-size: 56px;
    text-align: center;
    font-family: 'Vollkorn', serif;
}

#pitch_deco{
    top: 37em;
    left: 65%;
}

.background_deco{
    position: absolute;
    z-index: -1;
}

#pattern_deco {
    top: 41em;
    left: 5%;
    size: 30%;

}

#main_deco{
    top: 5em;
    left: 0;
    right: 0;
    width: 700px;
    opacity: unset;
    margin: auto;
}

#main_deco svg{
    width :100%;
    height : 100%;
}

#pattern_deco svg{
    width:80%;
    height: 80%;
}
#pitch_deco svg{
    width :100%;
    height: 100%;
}

hr{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    height: 1px;
    background-color: rgb(0, 0, 0)
    anima
}

form .gen-inputs{
    margin: 0.1em;
    border-bottom: 1px solid black;
    width : 30%;
}

form div input{
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: inherit
}

form div textarea{
    margin-top: 1em; 
    width : 100%;   
    height : 10em;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    font-size: inherit;
}

form{
    margin-top: 800px;
    width : 80%;
    margin-left: auto;
    margin-right: auto;
}

#map {
    margin-top: 50px;
    height: 400px;  /* The height is 400 pixels */
    width: 90%;  /* The width is the width of the web page */
    margin-left: auto;
    margin-right: auto;
   }