html{
    font-family: 'Vollkorn', serif;
    font-family: 'Roboto', sans-serif;
    max-width: 70%;
    font-size: 28px;
    margin: auto;
}

/* Means everything in header displays as inline block. */
header *{
    display: inline-block;
}

header{
    margin-top: 75px;
    margin-bottom: 100px;
    position: relative;
}

/* Controls Dr.Jayalakshmi Title */
header h1{
    margin: 0;
    font-size: 56px;
    font-family: 'Vollkorn', serif;
}


header .menu_option{
    float: right;
    margin-right: 1em;
    margin-top: 0.5em;  
    margin-bottom: auto;
    text-decoration: underline;
}
header .menu_option a{
    color: inherit;
    text-decoration: inherit;
}

header .menu_option a:hover{
    color: grey;
    text-decoration: inherit;
}



#main_img{
    position: relative;
    width : 50%;
    scale: 300;
    display: inline-flex;
    transform: translate(0,0);
    transform: scale(1.25,1.25);
    z-index: -2;
}

#image_block .dot{
    position: absolute;
    z-index: -3;
    background: #7CFFD7;
    border-radius: 50%;
}

#image_block #dot1{
    width:160px;
    height:160px;
    left: 220px;
    top: 230px;
}

#image_block #dot2{
    z-index: -1;
    width:180px;
    height:180px;
    left: 530px;
    top: 420px;
}

#image_block .ring{
    position: absolute;
    z-index: -1;
}

#image_block #ring1{
    width : 100px;
    transform: translate(30px,-160px);
}

#image_block #ring1 svg{
    width:100%;
    height: 100%;
}

#image_block #ring2{
    width : 50px;
    transform: translate(110px,-70px);
}

#image_block #ring2 svg{
    width:100%;
    height: 100%;
}


.blurb{
    float: right;
    width: 50%;
    margin-top: 1em;
    height: 8em;
    z-index: 1;
}

#blurb_sec_1{
    margin-bottom: 1em;
    z-index: 1;
}

#blurb_sec_2{
    z-index: 1;
}

#address_block{
    margin-bottom: 2em;
}

.address{
    width: 40%;
    display: inline-block;
    margin: 4%;
    height: 8em;
    box-align: right;
}

.address:hover{
    text-decoration: underline;
}

#pitch{
    font-size: 56px;
    text-align: center;
    font-family: 'Vollkorn', serif;
}

#pitch_deco{
    top: 45em;
    left: 65%;
}

.background_deco{
    position: absolute;
    z-index: -3;
}

#pattern_deco {
    top: 41em;
    left: 5%;
    size: 30%;

}

#main_deco{
    top: 6em;
    left: 0;
    right: 0;
    width: 1000px;
    opacity: unset;
    margin: 0 auto;
}

#main_deco svg{
    width : 100%;
    height : 100%;
}

#pattern_deco svg{
    width:80%;
    height: 80%;
}
#pitch_deco svg{
    width :100%;
    height: 100%;
}

hr{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    height: 1px;
    background-color: rgb(0, 0, 0);
}

#accomplishments_box{
    width: 70%;
    margin: 2em auto;
}

#accomplishments_box div{
    font-weight: 500;
}

#accomplishment_head{
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color:  #7CFFD7;
}
#accomplishments_box div {
    display: block;
    margin-bottom: 2em;
}

#accomplishments_box div span{
    display: inline-block;
    max-width: 80%;
}
#accomplishments_box div .date{
    float: left;
    height: 100%;
    padding-top: 10px;
    font-weight: initial;
    font-size: initial;
}

#accomplishments_box div hr{
    width: 5%;
    float: left;
    height: 1px;
    margin-top: 17px;
    margin-right: 20px;
    margin-left: 20px;
}

form .gen-inputs{
    margin: 0.1em;
    border-bottom: 1px solid black;
    width : 30%;
}

form div input{
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: inherit
}

form div textarea{
    margin-top: 1em; 
    width : 100%;   
    height : 10em;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    font-size: inherit;
}

form{
    margin-top: 800px;
    width : 80%;
    margin-left: auto;
    margin-right: auto;
}

button{
    border: none; 
    background: none;
    float: right;
    transform: translate(60px,-60px);
}

button img{
    background: none;
    height: 100px;
}

#map {
    margin-top: 50px;
    height: 400px;  /* The height is 400 pixels */
    width: 90%;  /* The width is the width of the web page */
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
   }