
 
  
html{
    font-family: 'Vollkorn', serif;
    font-family: 'Roboto', sans-serif;
    max-width: 92%;
    font-size: 28px;
    margin: 0 auto;
}

body{
    margin: 0;
    overflow-x: hidden;
}
/* Means everything in header displays as inline block. */
header *{
    display: inline-block;
}

header{
    margin-top: 1em;
    margin-bottom: 1.5em;
    position: relative;
}

/* Controls Dr.Jayalakshmi Title */
header h1{
    margin: 0;
    font-size: 56px;
    font-family: 'Vollkorn', serif;
}


header .menu_option{
    float: right;
    margin-right: 1em;
    margin-top: 0.5em;  
    margin-bottom: auto;
    text-decoration: underline;
}
header .menu_option a{
    color: inherit;
    text-decoration: inherit;
}

header .menu_option a:hover{
    color: grey;
    text-decoration: inherit;
}


#image_block{
    margin-bottom: 4em;
    width: 90%;
    margin: auto auto;
}

#main_img{
    position: relative;
    width : 60%;
    scale: 300;
    display: inline-flex;
    transform: translate(0,0);
    transform: scale(1.25,1.25);
    z-index: 1;
}

@media only screen and (max-width: 1000px) {

    #image_block{
        display: none;        
    }
  }


#image_block .dot{
    position: absolute;
    z-index: -3;
}

#image_block #dot1{
    width: 22%;
    transform: translate(10.5%,-165%)
}

#image_block #dot2{
    position: absolute;
    z-index: 2;
    width:15.5%;
    transform: translate(228%,-86%)
}

#image_block #dot2 img{
    width:100%;
}

#image_block #dot1 img{
    width:100%;
}


#image_block .ring{
    position: absolute;
    z-index: 1;
}

#image_block #ring1{
    width : 13.5%;
    transform: translate(0%,-115%);
}

#image_block #ring1 svg{
    width:100%;
    height: 100%;
}

#image_block #ring2{
    width : 6.5%;
    transform: translate(215%,-67.5%);
}

#image_block #ring2 svg{
    width:100%;
    height: 100%;
}



.blurb{
    float: right;
    width: 40%;
    margin-top: 1em;
    height: 8em;
    z-index: 1;
    box-sizing: border-box;
    font-size: 32px;
    transform: translate(-30%,0px);
}

.blurb #speech_bubble{
    position: absolute ;
    z-index: -10;
    transform: scale(1.4) translate(-7%,0em);
}

#blurb_sec_1{
    margin-bottom: 1em;
    z-index: 1;
}

#blurb_sec_2{
    z-index: 1;
}

#address_block{
    margin-top: 5em;
    margin-bottom: 2em;
    display: flex;
}




.address{
    width: 40%;
    margin: 2%;
    height: 8em;
    box-align: right;
    padding: 2%
}

@media only screen and (max-width: 1000px) {

    #address_block{
        display: block;    
    }
    
    .address{
        width: 100%;
    }
  }

.address:hover{
    text-decoration: underline;
    background-color: #7CFFD7;

    -webkit-transition: background 300ms ease-in 200ms; /* property duration timing-function delay */
    -moz-transition: background 300ms ease-in 200ms;
    -o-transition: background 300ms ease-in 200ms;
    transition: background 300ms ease-in 200ms;
}



#map {
    margin-top: 50px;
    height: 400px;  /* The height is 400 pixels */
    width: 90%;  /* The width is the width of the web page */
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    display: block;
    margin-bottom: 2em;
   }


#pitch{
    font-size: 56px;
    text-align: center;
    font-family: 'Vollkorn', serif;
}

#pitch_deco{
    top: 45em;
    left: 65%;
}

.background_deco{
    position: absolute;
    z-index: -3;
}

#pattern_deco {
    top: 41em;
    left: 5%;
    size: 30%;

}

#main_deco{
    top: 6em;
    left: 0;
    right: 0;
    width: 75%;
    opacity: 0;
    margin: 0 auto;
}

#main_deco svg{
    width : 100%;
    height : 100%;
}

#pattern_deco svg{
    width:80%;
    height: 80%;
}
#pitch_deco svg{
    width :100%;
    height: 100%;
}

hr{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    height: 1px;
    background-color: rgb(0, 0, 0);
}

#accomplishments_box{
    width: 50%;
    margin: 2em auto;
}


#accomplishment_head{
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color:  #7CFFD7;
}

#accomplishments_box div {
    font-weight: 500;
    display: block;
    margin-bottom: 2em;
}

#accomplishments_box div span{
    display: inline-block;
    max-width: 80%;
}
#accomplishments_box div .date{
    float: left;
    height: 100%;
    padding-top: 10px;
    font-weight: initial;
    font-size: initial;
}

#accomplishments_box div hr{
    width: 5%;
    float: left;
    height: 1px;
    margin-top: 17px;
    margin-right: 20px;
    margin-left: 20px;
}

#work_exp_box{
    width: 50%;
    margin: 2em auto;
}

#work_exp_head{
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color:  #7CFFD7;
}

#work_exp_box div {
    font-weight: 500;
    display: block;
    margin-bottom: 2em;
}

#work_exp_box div span{
    display: inline-block;
    max-width: 80%;
    text-align: right;
}

#work_exp_box div .date{
    float: right;
    height: 100%;
    padding-top: 10px;
    font-weight: initial;
    font-size: initial;
    text-align: unset;
}

#work_exp_box div hr{
    width: 5%;
    float: right;
    height: 1px;
    margin-top: 17px;
    margin-right: 20px;
    margin-left: 20px;
}


#form_container{
    width: 80%;
    margin: 0 auto;
}
form .gen-inputs{
    margin: 0.1em;
    border-bottom: 1px solid black;
    width : 30%;
}

form div input{
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: inherit
}

form div textarea{
    margin-top: 1em; 
    width : 100%;   
    height : 10em;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    font-size: inherit;
}

form{
    margin-top: 3em;
    width : 80%;
    margin-left: auto;
    margin-right: auto;
}

button{
    border: none; 
    background: none;
    float: right;
    transform: translate(60px,-60px);
}

button img{
    background: none;
    height: 100px;
}

#video_sec{
    width: 100vw;
    background-color: #00D392;
    margin-left: calc(-50vw + 50%);
    padding: 1rem 0;
}

#player{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#skills{
    font-size: 10rem;
    overflow-x: hidden;
    height: 11rem;
    width: 125vw;
    margin-left: calc(-50vw + 35%);
}



footer{
    width: 100vw;
    background-color: #00D392;
    height: 100px;
    margin-left: calc(-50vw + 50%);
    padding: 0;
    margin-top: 10%;
    border-bottom: 0;
}

footer div{
    font-size: 14px;
    text-align: center;
    padding-top: 36px;
}
